.header-btn {
  color: #fff !important;
  width: 100px;
  text-align: center;
  font-size: large;
  text-decoration: none;
  background: #0c1ba5;
  padding: 13px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.header-btn:hover {
  text-shadow: 0 0 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.header-btn-text {
  text-decoration: none;
}
